
*{
    margin: 0;
    padding: 0;

}
                      /* header */
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: solid 1px black;
    justify-content: flex-end;
    color: blue($color: #000000);
    background-image: url(../imagenes/prueba...jpg);
  
}

.seccionHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: flex-start;
}

ul{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    flex-wrap: wrap;
    justify-items: flex-end;
}

.container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;  


}

.flex__container__item{
    color: white;
    display: flex;
    margin-left: 15px;
    justify-items: flex-end;
    width: 100%;
    height: 100%;
}

.boton{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.image__lista{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: nowrap;
    
}

.item2{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-image: url(../imagenes/prueba...jpg);

}
.navbar{
    align-items: flex-end;
    color: white;
    width: 50%;
    height: 150px;
    font-size: x-large;
}
.navbar a{
    color: white;
    justify-content: space-between;
    
}
.active{
    font-size: x-large;
}

                   /*  footer  */
.footer_nav{
    color: white;
   width: 100%;
   height: 50px;
   margin-bottom: 0%;


}
@media screen and(min-width: 768px){
    .image__lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: blue($color: #000000);
    margin: 100px;
    width: 50px;
    }
}
