
.card{
    margin: 5px;
}

   /* botones */

   .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-principal;
    color: $color-secundario;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 999px;
    box-sizing: border-box;
    font-weight: 800;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1,2);
    transition: all 2s;
}

.btn-default{
    border: 1px solid $color-secundario;
    color: $color-secundario;
}

.active{
    font-size: x-large;
    background-color: rgb(83, 78, 78);
    transform: scale(0.8);
    transition: all 1s;  
}
.buttonMain{
    height: 100%;
}

.btn-71{
    border: 1px solid pink;
    margin-top: 10px;
    border-radius: 999px;
    box-sizing: border-box;
    font-weight: 800;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-left: 10px;
}


   /* logos  */

   .logo{
    display: grid;
    height: 100%;
    align-items: flex-end;
    padding: 12px;
}

.logo2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: 100%;
}

.logo__principal:hover{
    transform: scale(0.8);
    transition: all 1s;  
}





